div{
    width: 300px;
  border: 15px solid rgb(255, 255, 255);
  padding: 50px;
  margin: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0px;
    padding: 60px;
    display: flex;
    flex-direction:column;
    align-items:baseline;
    justify-content:start;
    height: 100vh;
}

header {
    top: 0;
    margin-bottom: 10px;
    margin-left: -60px;
    background-color: #393751;
    color: white;
    padding-left: 10px;
    position:absolute;
    text-align: left;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    position: fixed;
    text-align: left;
    background-color: #393751;
    color: white;
    width: 100%;
    margin-left: -60px;
    bottom: 0;
}
p {
   font-size: small; 
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main {
    text-align: center;
}

.buttonPreview {
    cursor: pointer;
    padding:0;
    position: relative;
    width:auto;
    box-shadow: 0 0 10px #000000;
    border: none;
    background: none;
    border-radius:25px;
}
.previewImg {
    width: 400px;
    display:block;
    border-radius:25px;
}


@keyframes fadeIn {
    from {
        background-color: #333333;
    }
    to {
        background-color: #dddddd;
        color: #333;
    }
}
@keyframes scale {
    from {
        scale: 0;
    }
    to {
        scale: 0.1;
    }
}
